@import url(https://fonts.googleapis.com/css?family=Merriweather);

html,

h1 {
    text-align: center;
    
}

form {
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
}

input,
textarea {
    border: 0;
    outline: 0;
    padding: 1em;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;
    resize: none;
}

/*#input-submit {
    color: white;
    background: #e74c3c;
    cursor: pointer;
}

#input-submit:hover {
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
}*/

textarea {
    height: 126px;
}

.half {
    float: left;
    width: 48%;
    margin-bottom: 1em;
}

.right {
    width: 50%;
}

.left {
    margin-right: 2%;
}

@media (max-width: 480px) {
    .half {
        width: 100%;
        float: none;
        margin-bottom: 0;
    }
}

.cf:before,
.cf:after {
    content: ' ';
    display: table;
}

.cf:after {
    clear: both;
}
.contenedorFoto{

  height: 40vh;
  position: relative;
  overflow: hidden;
}


.fotoContacto{
  width: 100%;
  
  max-width: none; /* Elimina la restricción máxima de ancho */
  max-height: none; /* Elimina la restricción máxima de altura */
  position: relative; /* Establece el contexto de posicionamiento */
  top: -70%; /* Desplaza la imagen hacia arriba un 10% de su altura */
  transform: translateY(0); /* Restaura la transformación de desplazamiento vertical */

}

.formato{
font-family: var(--font-title);
}

@media screen and (max-width: 799px){
    .contenedorFoto{

        height: 30vh;
        position: relative;
        overflow: hidden;
      }
      
      
      .fotoContacto{
        width: 100%;
        
        position: relative; /* Establece el contexto de posicionamiento */
        top: -10%; /* Desplaza la imagen hacia arriba un 10% de su altura */
        transform: translateY(0); /* Restaura la transformación de desplazamiento vertical */
      
      }

    }